
    @font-face {
        font-family: 'Outfit-Regular';
        src: url('/font/Outfit-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Outfit-Medium';
        src: url('/font/Outfit-Medium.ttf') format('truetype');
    }

    @font-face {
        font-family: 'FiraSansCondensed-Medium';
        src: url('/font/FiraSansCondensed-Medium.ttf') format('truetype');
    }

*{
    margin: 0px;
    padding: 0px;
}


/*//////////////////////HEADER//////////////////////////////////*/

.box1{
    margin: auto;
    width: 1280px;
    overflow: hidden;
}

header{
    background-color: #F5F5F5;
    padding-top: 10px;
}

menu{
    max-width: 98vw;
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    overflow: hidden;
}

.tab{
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.link_c{
    text-decoration: none;
    color: black;
    font-family: 'Outfit-Medium';
    font-size: 16px;
}

.pesquisa{
    font-family: 'Outfit-Medium';
    background-color: #7bacf4;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/*//////////////////////ARTICLE//////////////////////////////////*/

.box2{
    width: 1280px;
    margin: auto;
    display: flex;
    overflow: hidden;
}


.art1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    padding-top: 150px;
    padding-bottom: 100px;
}

h1{
    color: #7bacf4;
    font-family: 'Outfit-Medium';
    font-weight: normal;
    font-size: 16px;
}

.art1_box_text{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 10px;
}

.text1{
    font-size: 3.4em;
    padding-bottom: 20px;
    font-family: 'FiraSansCondensed-Medium' !important;
    font-weight: normal;
}

.text2{
    font-family: 'Outfit-Regular';
    width: 400px;
    font-size: 18   px;
    padding-bottom: 30px;
    color: #6A6A6A;
}

.text3{
    display: flex;
    width: fit-content;
    align-items: center;
    font-family: 'Outfit-Medium';
    font-size: 16px;
    color: #7bacf4;
    border: 1px solid #7bacf4;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F5F5F5;
    cursor: pointer;
}

.text3:hover{
    background-color: #e7f0fd;
    color: #7bacf4;
}


.arrow{
    padding-left: 20px;
}

.hero_box{
    max-width: 98%;
    overflow: hidden;
}

.hero {
    max-width: 98%;
    height: auto;
  }



/*//////////////////////ARTICLE1H//////////////////////////////////*/


.box_article1{
    width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}


.article_title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title1{
    font-family: 'FiraSansCondensed-Medium';
    font-size: 2.45em;
    font-weight: normal;
}

.title2{
    font-family: 'Outfit-Regular';
    font-size: 1.45em;
    font-weight: normal;
    color: #6A6A6A;
    padding-top: 10px;
}

.box_artucle_link{
    margin-top: 50px;
    background-color: #ffffff;
    border: 1px #e3e1e1 solid;
    border-radius: 10px;
    box-shadow: -3px -3px 16px #e3e1e1;
}


.box_link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 220px;
    padding-right: 220px;
    margin-top: 50px;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.box_img{
    display: flex;
}

.number{
    color: #e3e1e1;
    font-family: 'FiraSansCondensed-Medium';
    justify-content: space-between;
    padding-right: 5px;
    font-size: 1.5em;
}

.bipolar, .therapy, .growing, .goal{
    padding-top: 10px;
    text-decoration: none;
    font-family: 'Outfit-Medium';
    color: #000000;
    font-size: 1.25em;
}

.box_link_text{
    display: flex;
    padding-top: 40px;
    padding-left: 100px;
}

.box_text{
    padding-top: 30px;
}

.text_link1, .text_link2 {
    font-size: 1.45em;
    font-family: 'Outfit-Regular';
    width: 70%;
}

.text_link1{
    padding-top: 10px;
}

.text_link2{
    padding-top: 30px;
    padding-bottom: 35px;
}

.want{
    font-size: 1.25em;
    color: #93beff;
    font-family: 'Outfit-Medium';
}

.hand_phone{
    margin-bottom: -4px;
}






















































































/*//////////////////////////////////MOBILE/////////////////////////////////////*/

@media (max-width: 540px) {
    
    html, body{width: 375px;}

    .tab{
        display: none;
    }
    
    .box1{
        width: 100%;
        display: flex;
        justify-content: center;
    }

/*////////////////Article1//////////////////////////////*/

    .art1{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .box2{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .art1_box_text{
        width: 100%;
        align-items: first baseline;
        padding-left: 30px;
        padding-top: 70px;
    }

    .text1{
        font-size: 2.2em;
        max-width: 96%;
    }

    .text2{
        max-width: 96%;
        overflow: hidden;
    }

    .hero_box{
        max-width: 100%;
        overflow: hidden;
    }

    .hero {
        max-width: 97%;
        height: auto;
      }



  }