
    @font-face {
        font-family: 'Outfit-Regular';
        src: url('/public/font/Outfit-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Outfit-Medium';
        src: url('/public/font/Outfit-Medium.ttf') format('truetype');
    }

    @font-face {
        font-family: 'FiraSansCondensed-Medium';
        src: url('/public/font/FiraSansCondensed-Medium.ttf') format('truetype');
    }

*{
    margin: 0px;
    padding: 0px;
}

/*//////////////////////PART01//////////////////////////////////*/

.box1{
    margin: auto;
    width: 1280px;
}

header{
    width: 100%;
    background-color: #F5F5F5;
    padding-top: 10px;
}

menu{
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    padding-left: 10px;
    padding-right: 10px;
}

.tab{
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}

.link_c{
    text-decoration: none;
    color: black;
    font-family: 'Outfit-Medium';
}

.pesquisa{
    font-family: 'Outfit-Medium';
    background-color: #7bacf4;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    border: none;
}

/*//////////////////////PART02//////////////////////////////////*/

.box2{
    width: 1280px;
    margin: auto;
    display: flex;
}


.art1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    padding-top: 150px;
    padding-bottom: 100px;
}

h1{
    color: #7bacf4;
    font-family: 'Outfit-Medium';
    font-weight: normal;

}

.art1_box_text{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 10px;
}

.text1{
    font-size: 3.4em;
    padding-bottom: 20px;
    font-family: 'FiraSansCondensed-Medium';
    font-weight: normal;
}

.text2{
    font-family: 'Outfit-Regular';
    width: 400px;
    font-size: 1.2em;
    padding-bottom: 30px;
    color: #6A6A6A;
}

.text3{
    display: flex;
    width: 250px;
    align-items: center;
    font-family: 'Outfit-Medium';
    font-size: 1.2em;
    color: #7bacf4;
    border: 2px solid #7bacf4;
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.arrow{
    padding-left: 20px;
}

.hero{
    width: auto;
}

/*//////////////////////PART03//////////////////////////////////*/


.box3{
    width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.art2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #93beff49;
    padding-top: 70px;
    padding-bottom: 70px;
}


.text4{
    margin-bottom: 30px;
    font-family: 'FiraSansCondensed-Medium';
    font-size: 2em;
    font-weight: normal;
}


.quiz_box{
    display: flex;
    flex-direction: column;
    
}


.button1, .button2, .button3, .button4, .button5, .button6, .button7{
    font-family: 'Outfit-Regular';
    font-size: 1em;
    width: 220px;
    margin-bottom: 15px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.confirm{
    width: 220px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #93beff;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*//////////////////////PART04//////////////////////////////////*/

.box4{
    width: 1280px;
    display: flex;
    justify-items: center;
}


.art3{
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 50px;
}


.text5{
    font-family: 'Outfit-Regular';
    font-size: 1.2em;
    color: #6A6A6A;
    width: 250px;
    padding-top: 15px;
}


.brand{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-left: 50px; 
}


.who{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    text-align: left;
}


.content{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    text-align: left;
}


.topic{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    text-align: left;
    padding-right: 50px;
}


.link_f{
    font-family: 'Outfit-Regular';
    width: 68%;
    font-size: 1.2em;
    text-decoration: none;
    color: #6A6A6A;
    padding-bottom: 15px;
}


.link_fo{
    font-family: 'Outfit-Medium';
    font-size: 1.2em;
    text-decoration: none;
    width: 68%;
    color: black;
    font-weight: bolder;
    padding-bottom: 30px;
    padding-top: 15px;
}


/*//////////////////////////////////MOBILE/////////////////////////////////////*/

@media (max-width: 480px) {
    
    .tab{
        display: none;
    }
    
    .box1{
        width: 100%;
        display: flex;
        justify-content: center;
    }

/*////////////////Article1//////////////////////////////*/

    .art1{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .box2{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .art1_box_text{
        width: 100%;
        align-items: first baseline;
        padding-left: 30px;
        padding-top: 70px;
    }

    .text1{
        font-size: 2.5em;
    }

    .hero{
        width: auto;
    }

    .hero_p{
        width: 475px;
        height: 375px;
    }

  
/*///////////////////Article2//////////////////////////*/

    .box3{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

/*///////////////////Article3///////////////////////////////*/

    .box4{
        display: flex;
        justify-items: center;
        width: 100%;
        align-self: baseline;
        flex-wrap: wrap;
        padding-left: 25px;
    }

    .text5{
        font-family: 'Outfit-Regular';
        font-size: 1.2em;
        color: #6A6A6A;
        width: 200px;
        padding-top: 15px;}

    .brand{
        display: flex;
        align-items: baseline;
        flex-direction: column;
        padding-bottom: 40px;
        width: 50%; 
        padding-left: 0px;
    }

    .who{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding-bottom: 40px;
        width: 50%;
    }
    
    .content{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 50%; 
    }
    
    .topic{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 50%; 
        padding-right: 0px;
    }

  }